<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="form-group">
      <input class="form-control" type="text" [matAutocomplete]="auto" 
     [formControl]="formInput"  />

      <mat-autocomplete #auto>
        <mat-option
          *ngFor="let data of autocompleteData"
          [value]="data.value"
          (onSelectionChange)="onAutocompleteSelectionChange(data)"
          >{{ data.content }}</mat-option
        >
      </mat-autocomplete>
    </div>
  </body>
</html>
